@{
    ViewBag.Title = "About";
}
<h2>SuperHeroProject </h2>
<h3>Project Details</h3>

<p>This application seeks to provide users with the ability to add to, edit, view, and remove all of their favorite superheros to a database collection.</p>
