@{
    ViewBag.Title = "Contact";
}
<h2>Contact</h2>
<h3>Creator Email</h3>

<address>
    <strong>Jacob Jahneke</strong>   
    <br />
    <a href="mailto:jacobjahneke@gmail.com">jacobjahneke@gmail.com</a><br />
</address>